<div id="app">
	{{>header}}
    <section id="banner" class="root-sec brand-bg padd-tb-55 single-banner blogpage-banner-wrap">
        <div class="container">
            <div class="row">
                <div class="clearfix blog-banner-text blog-single-banner">
                    <div class="col-md-12">
                        <h2 class="title">{{{data.post.title}}}</h2>
                        <ul class="clearfix blog-post-meta">
                            <li>{{date data.post.publishedDate format='MMMM DD, YYYY'}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="all-posts" class="root-sec grey lighten-5 blogpage-posts-wrap">
        <div class="container">
            <div class="row">
                <div class="clearfix all-blog-post blog-inner with-sidebar">

					{{#with data.post}}
                        <div class="col-sm-8">
                            <article class="single-post-page">
                                <div class="thumb-wrap">
                                    <img src="{{{image.url}}}" alt="">
                                </div>
                                <div class="single-post-content">
									{{{content.extended}}}
                                </div>
                            </article>
                        </div>
					{{/with}}

                    <div class="col-sm-4">
                        <div class="primary-sidebar">
                            <aside class="single-widget">
                                <h2 class="widget-title">RECENT POSTS</h2>
                                <ul>
									{{#each data.posts}}
                                    <li>
                                        <a href="{{postUrl slug}}">{{title}}</a>
                                        <span>{{date data.post.publishedDate format='MMMM DD, YYYY'}}</span>
                                    </li>
									{{/each}}
                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{>footer}}
</div>
