<section class="contact">
  <div class="contact__inner">

    <h1 class="contact__header" id="contact">{{t 'have any questions'}}?</h1>
    <p class="contact__text">{{ t 'Leave your message and our manager will answer you'}}</p>

    <form class="contact__form" action="" method="post" novalidate>

        <div class="form-field input">
            <input type="text" name="name" placeholder="{{t 'name'}}">
            <span class="tooltip-icon" data-for="name"></span>
            <div class="tooltip-info" data-for="name">{{t 'Name must contain at least 2 characters'}}</div>
        </div>

        <div class="form-field input">
            <input type="email" name="email" placeholder="{{t 'e-mail'}}">
            <span class="tooltip-icon" data-for="email"></span>
            <div class="tooltip-info" data-for="email">{{t 'Not valid email address'}}</div>
        </div>

        <div class="form-field">
            <textarea name="message" placeholder="{{t 'message'}}"></textarea>
            <span class="tooltip-icon" data-for="message"></span>
            <div class="tooltip-info" data-for="message">{{t 'Message must contain at least 8 characters'}}</div>
        </div>

      <div class="contact__flash-message">
        <div class="contact__flash-message-success invisible">{{t 'Message was successfully sent'}}</div>
        <div  class="contact__flash-message-fail invisible">{{t 'Some problems with your request. Check your name, email and message for non-standard characters.'}}</div>
      </div>
      <input type="submit" value="{{t 'send request'}}">
    </form>

  </div>
</section>
