<footer class="main-footer" id="contacts">

  <p class="main-footer__adress-line-1">{{t 'location'}}</p>
  <p class="main-footer__adress-line-2">{{{company.address}}}</p>

  <p class="main-footer__links">
      <a class="main-footer__facebook-link" href="{{{company.facebookUrl}}}" target="_blank">Facebook</a>
      <a class="main-footer__skype-link" href="skype:{{{company.skypeLogin}}}">{{{company.skypeLogin}}}</a>
      <a class="main-footer__instagram-link" href="{{{company.instagramUrl}}}" target="_blank">Instagram</a>
      <br/>
      <a class="main-footer__upwork-link" href="{{{company.upworkUrl}}}" target="_blank">Upwork</a>
      <a class="main-footer__github-link" href="{{{company.githubUrl}}}" target="_blank">Github</a>
      <br/>
      <a class="main-footer__mail-link" href="mailto:{{{company.supportEmail}}}">{{{company.supportEmail}}}</a>
  </p>

  <a class="flying-btn flying-btn--hidden scroll" href="#contact">{{t 'get in touch'}}</a>
</footer>
