<footer class="main-footer">

  <p class="main-footer__adress-line-1">Russia, Saint-Petersburg</p>
  <p class="main-footer__adress-line-2">{{{company.address}}}</p>

  <p class="main-footer__skype"><a class="main-footer__skype-link" href="skype:{{{company.skypeLogin}}}">{{{company.skypeLogin}}}</a></p>

  <p class="main-footer__links">
      <a href="{{{company.upworkUrl}}}" target="_blank">Upwork</a>
      <a href="{{{company.githubUrl}}}" target="_blank">GitHub</a>
      <br/>
      <br/>
      <a href="mailto:{{{company.supportEmail}}}">{{{company.supportEmail}}}</a>
  </p>

  <a class="flying-btn flying-btn--hidden scroll" href="#contact">{{t 'hire us'}}</a>
</footer>
